.slider-container {
    width: 100%;
    margin: auto;
    position: relative;
}

.slider-item {
    width: 100%;
    height: auto;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.slider-button:hover {
    color: #007bff;
}